<%= form_with(model: link, local: true) do |form| %>
  <% if link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :url %>
    <%= form.url_field :url, id: :link_url, class: "form-control", placeholder: "https://www.example.com" %>
  </div>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :link_title, class: "form-control", placeholder: "title of the link" %>
  </div>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body, id: :link_body, class: "form-control", style: "height:15rem", placeholder: "summary of the link" %>
  </div>

  <div class="form-group">
    <%= form.label :created_at %>
    <%= form.datetime_field :created_at, id: :link_created_at, class: "form-control", placeholder: "YYYY-MM-DDThh:mm:ss" %>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
