<div class="card mt-4">
  <div class="card-header">
    <div class="row text-muted">
      <div class="col col-auto">
        <%= link.host %>
      </div>
      <div class="col text-right">
        <%= time_tag(link.created_at, time_ago_in_words(link.created_at)) %>
      </div>
    </div>
  </div>
  <div class="card-block">
    <h4 class="card-title"><%= link_to link.title, link.url %></h4>

    <%= simple_format link.body, class: "card-text" %>

    <%= link_to 'Edit', edit_link_path(link) %>
  </div>
</div>
