<div class="card mt-4">
  <div class="card-header">
    <div class="row text-muted">
      <div class="col col-auto">
        <%= link.host %>
      </div>
      <div class="col text-right">
        <%= time_tag(link.created_at, time_ago_in_words(link.created_at)) %>
      </div>
    </div>
  </div>
  <div class="card-block">
    <h4 class="card-title mb-0"><%= link_to link.title, link.url %></h4>

    <% if link.body.present? %>
      <%= simple_format link.body, class: "card-text mt-3 mb-0" %>
    <% end %>

    <% if user_signed_in? %>
      <div class="mt-3">
        <%= link_to "Edit", edit_link_path(link), class: "btn btn-secondary", role: "button" %>
        <%= link_to "Delete", link_path(link), class: "btn btn-outline-danger ml-2", role: "button", data: { confirm: "Are you sure?" }, method: :delete %>
      </div>
    <% end %>
  </div>
</div>
