<div class="card">
  <div class="card-header">
    <div class="row text-muted">
      <div class="col col-auto">
        <%= link.host %>
      </div>
      <div class="col text-right">
        <%= link_to(link, class: "text-muted") do %>
          <%= time_tag(link.created_at, time_ago_in_words(link.created_at)) %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <h4 class="card-title mb-0"><%= link_to link.title, link.url %></h4>

    <% if link.body.present? %>
      <%= simple_format link.body, class: "card-text mt-3 mb-0" %>
    <% end %>

    <% if policy(link).update? %>
      <div class="mt-3">
        <a href="http://twitter.com/share?url=<%=u link.url %>&text=<%=u link.title %>" target="_blank" class="btn btn-secondary float-right ml-2" role="button">Tweet</a>

        <%= link_to "Edit", edit_link_path(link), class: "btn btn-secondary", role: "button" %>
        <%= link_to "Delete", link_path(link), class: "btn btn-outline-danger ml-2", role: "button", data: { confirm: "Are you sure?" }, method: :delete %>
      </div>
    <% end %>
  </div>
</div>
