<article class="card" itemscope itemtype="http://schema.org/Article">
  <div class="card-header">
    <div class="row text-muted">
      <div class="col col-auto" itemprop="publisher" itemtype="https://schema.org/Organization" itemscope="itemscope">
        <span itemprop="name"><%= link.host %></span>
      </div>
      <div class="col text-right">
        <%= link_to(link, class: "text-muted") do %>
          <%= time_tag(link.created_at, time_ago_in_words(link.created_at), itemprop: "datePublished") %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <h1 class="card-title h5 mb-0"><%= link_to link.title, link.url %></h1>

    <% if link.body.present? %>
      <div class="card-text mt-3" itemprop="headline">
        <%= markdown_format link.body %>
      </div>
    <% end %>

    <% if policy(link).update? %>
      <div class="mt-3">
        <a href="http://twitter.com/share?url=<%=u link.url %>&text=<%=u link.title %>" target="_blank" class="btn btn-primary float-right ml-2" role="button">Tweet</a>

        <%= link_to "Edit", edit_link_path(link), class: "btn btn-primary", role: "button" %>
        <%= link_to "Delete", link_path(link), class: "btn btn-outline-danger ml-2", role: "button", data: { confirm: "Are you sure?" }, method: :delete %>
      </div>
    <% end %>
  </div>
</article>
