<%= content_for :header_title do %>
  <%= link_to "Hākuturi", root_path %>
  <span class="text-white-50">/<span>&nbsp;<%= link_to "News", links_path %>
<% end %>

<% description "Hākuturi News is a curated news aggregator focused on the environment" %>

<% if policy(@links).create? %>
  <%= link_to "New Link", new_link_path, class: "btn btn-secondary", role: "button" %>
<% end %>

<% if @links %>
  <div id="links">
    <%= render "links", links: @links %>
  </div>

  <% unless @links.last_page? %>
    <div class="next-page text-center mt-4">
      <%= link_to_next_page @links, "Next Page", remote: true, class: "btn btn-primary", role: "button" %>
    </div>
  <% end %>
<% end %>
