<%= form_with(model: text, local: true) do |form| %>
  <% if text.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= pluralize(text.errors.count, "error") %> prohibited this text from being saved:</h4>

      <ul>
      <% text.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control", placeholder: "title of the text" %>
  </div>

  <div class="form-group">
    <%= form.label :author %>
    <%= form.text_field :author, class: "form-control", placeholder: "author of the text" %>
  </div>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body, class: "form-control", style: "height:21rem", placeholder: "body of the text" %>
  </div>

  <div class="form-group">
    <%= form.label :source %>
    <%= form.text_area :source, class: "form-control", style: "height:6rem", placeholder: "source of the text" %>
  </div>

  <div class="form-group">
    <%= form.label :published_on %>
    <%= form.date_field :published_on, class: "form-control", placeholder: "YYYY-MM-DD" %>
  </div>

  <div class="mt-4">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
