<%= render "header" %>

<header class="pb-2">
  <p class="h3 text-center text-muted"><%= @text.author %> (<%= @text.published_on.year %>)</p>
  <h1 class="text-center my-3"><%= title @text.title %></h1>
</header>

<% if policy(@text).update? %>
  <div class="btn-toolbar-admin mb-4">
    <%= link_to "Edit", edit_text_path(@text), class: "btn btn-primary", role: "button" %>
    <%= link_to "Delete", text_path(@text), class: "btn btn-outline-danger ml-2", role: "button", data: { confirm: "Are you sure?" }, method: :delete %>
  </div>
<% end %>

<article>
  <%= markdown_format @text.body %>
</article>

<% if @text.source.present? %>
  <div class="alert alert-secondary mt-4" role="alert">
    <%= markdown_format @text.source %>
  </div>
<% end %>

<div class="text-center mt-4">
  <%= link_to "More Texts", texts_path, class: "btn btn-primary", role: "button" %>
</div>
