<!DOCTYPE html>
<html>
  <head>
    <title>MultiPost</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# render 'layouts/navbar' %>

    <div class="container my-4">
      <% if alert %>
        <div class="alert alert-danger" role="alert"><%= alert %></div>
      <% end %>
      <% if notice %>
        <div class="alert alert-success" role="alert"><%= notice %></div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
