<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= page_meta_tags %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body class="d-flex flex-column">
    <header class="p-4 <%= controller_name == "home" ? "flex-grow-1 d-flex justify-content-center align-items-center" : "" %>">
      <h1 class="text-center display-4 m-0">
        <%= content_for :header_title %>
      </h1>
    </header>

    <main class="flex-grow-1">
      <div class="container p-4">
        <% if alert %>
          <div class="alert alert-danger" role="alert"><%= alert %></div>
        <% end %>
        <% if notice %>
          <div class="alert alert-success" role="alert"><%= notice %></div>
        <% end %>

        <%= yield %>
      </div>
    </main>
  </body>
</html>
